*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: grey;
}

#big_cont{
  padding: 0 5%;

}

h3{
  text-align: center;
}

li{
  list-style: none;
  padding: 3% 5%;
  display: flex;
  align-items: center;
}

header{
  padding: 0 5%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;

}

header h3{
  color: red;
  font-style: italic;
}

input{
  border-radius: 10px;
  height: 27px;
}

button{
  margin-left: 5px;
}

.cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}


.movie{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 350px;
  height: 515px;
  margin: 10px 10px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.noImg{
  width: 90%;
  margin: 0 18px;
}


.movie ul li img{
  width: 10%;
  margin-left: 3%;
}

.cover{
  margin: 20px auto;
}

.info{
  position: absolute;
  opacity: 0;
  background-color: black;
  color: white;
  border: 0px solid white;
  transition: all .5s;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.info #voteStars i{
  color: yellow;
}


.info:hover{
  opacity: .8;
  border: 1px solid white;
}

.overview{
  cursor: pointer;
}
